.Navs {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: rgb(44, 99, 82);
}
.Navs-start {
  display: flex;
}

.Navs li {
  font-weight: bold;
  padding: 0.4rem;
}

.Navs-end {
  display: flex;
}
