:root {
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: #fcf8e3;
  color: #333;
  min-height: 100vh;
  min-width: 100vw;
}
